extends ./layout.jade

block content

  :marked
    Welcome to EcoScript.Me, the ecosystem simulator where you make the rules.
    Go to the [play page](play) to see an example of a basic ecosystem, and 
    read [the guide](guide) to find out how to make your own.
