<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Ecosystem simulator</title>

    <style>
      @font-face {
        font-family: "Joystix";
        src: url("joystix.woff") format("woff");
      }
      body {
        background-color: black;
        color: white;
      }
      pre {
        line-height: 15px;
        font-size: 18px;
        font-family: "Joystix", monospace;
      }
    </style>

    <script src="scripts/polyfill.min.js">
    </script>
    <script src="bundle.js"></script>
  </head>

  <body>
    <%= markdown %>
  </body>

</html>
