extends ./layout.jade

block head
  script(src="js/bundle.js")

block content
  pre#ecosystem

  form(method="POST", action="upload", enctype="multipart/form-data")
    | Select a config file to upload:
    input(type="file", name="config", onchange="fileUpload(event)")
